.ant-table-pagination {
    margin-right:1rem !important;
}

.details-btn {

    display:flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size:0.7rem !important;
}

.ant-drawer-body {
    padding: 0 !important;
}