@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

/* menu */
$menu-width: 70px;
$menu-bg: #003459;
$menu-color: white;
$menu-icon-size: 1.3rem;

/* sub-menu */
$sub-menu-bg: #edf2f4;
$sub-menu-width: 230px;

/* content */
$main-content-bg: white;

$primary: #1890ff;
$dark-blue: #1e4f9e;
$orange: #bc8520;
$red: #ce402d;
$rose: #a0236c;
$dark-green: #1a7219;
$dark-teal: #0f949b;
$sky-blue: #4c6ebf;
